<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    {% load static %}
    <link rel="stylesheet" href={% static "css/login_style.css" %}>
</head>
<body>
<!--背景-->
<div class="wel" id="background-3"></div>
<!--左右两边云-->
<div class="wel" id="box">
    <div class="box-1 lefp"></div>
    <div class="box-1">
        <div class="righp"></div>
    </div>
</div>
<!--荧光点点-->
<div class="wel" id="git"></div>
<!--登录注册表-->
<div class="wel" id="from">
    <div class="box-3 le-1" style="text-align: center">
        <form action="" method="post">
            <div class="flrg">
                {% csrf_token %}
                <h3>登录</h3>
                <div class="a">
                    {{ login_form.username.label_tag }}
                    {{ login_form.username}}
{#                    <!--<label>账号：</label>-->#}
{#                    {{ login_form}}#}
{#                    <input type="text" class="in-1" placeholder="请输入账号">#}
                </div>
                <div class="a">
                    {{ login_form.password.label_tag }}
                    {{ login_form.password }}
{#                    <!--<label>密码：</label>-->#}
{#                    <input type="password" class="in-1" placeholder="请输入密码">#}
                </div>
                <div class="a">
                    {% if message %}
                        {{ message }}
                    {% endif %}
                </div>
                <div class="a">
                    <button type="submit">点击登录</button>
                </div>
                <div class="a">
                    <button type="reset">重置</button>
                </div>

                <div class="a">
                    <div class="hr"></div>
                </div>
                 <div class="a">
                    <a href={% url 'index' %}>返回主页</a>
                </div>
                <div class="a">
                    <a href={% url 'register' %}>注册</a>
                    <a>|</a>
                    <a href="#">忘记密码？</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>