<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    {% load static %}
    <link rel="stylesheet" href={% static "css/login_style.css" %}>
</head>
<body>
<!--背景-->
<div class="wel" id="background-3"></div>
<!--左右两边云-->
<div class="wel" id="box">
    <div class="box-1 lefp"></div>
    <div class="box-1">
        <div class="righp"></div>
    </div>
</div>
<!--荧光点点-->
<div class="wel" id="git"></div>
<!--登录注册表-->
<div class="wel" id="from">
    <div class="box-2 le-2">
        <form action="" method="post">
            <div class="flrg-1">
                {% csrf_token %}
                <h3>注册</h3>
                <div class="a">
{#                    <input type="text" class="in-1" placeholder="您的用户名">#}
                    {{ register_form.username.label_tag }}
                    {{ register_form.username}}
                </div>
                <div class="a">
{#                    <input type="password" class="in-1" placeholder="输入密码">#}
                    {{ register_form.password1.label_tag }}
                    {{ register_form.password1 }}
                </div>
                <div class="a">
{#                    <input type="password" class="in-1" placeholder="再次确认密码">#}
                    {{ register_form.password2.label_tag }}
                    {{ register_form.password2 }}
                </div>
{#                <div class="a">#}
{#                    <input type="text" class="in-1" placeholder="输入手机号码">#}
{#                </div>#}
                <div class="a">
{#                    <input type="email" class="in-1" placeholder="输入邮箱地址">#}
                    {{ register_form.email.label_tag }}
                    {{ register_form.email }}
                </div>
                <div class="a">
                    {% if message %}
                        {{ message }}
                    {% endif %}
                </div>
                <div class="a">
                    <button type="submit">注册</button>
                </div>
                <div class="a">
                    <a href={% url 'login' %}>返回登录界面</a>
                </div>
                <div class="a">
                    <a href={% url 'index' %}>返回主页</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
